.body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1, a{
    font-family: 'Poppins';
}


.md-caption{
    font-size: 20px;
}

p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
     
}

.btn{
    font-family: 'Poppins';
}



