.body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1, a{
    font-family: 'Poppins';
}

.caption{
        font-family: 'Poppins';
        font-size: calc(100% + 1vw + 1vh);
        font-weight: 900;
        margin-top: 50px;
      }


.md-caption{
    font-size: 20px;
}

p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
     
}

.btn{
    font-family: 'Poppins';
}